body {
    background-image: url("https://c8.alamy.com/compfr/k8dc64/tunis-tunisie-31-aout-2015-le-louage-mini-bus-gare-de-barcelone-square-l-endroit-bonde-a-cote-de-la-gare-ferroviaire-le-31-aout-a-tu-k8dc64.jpg");
    background-size: cover;
    font-family:  'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    display:inline-block;
    flex-direction: column;
    justify-content: center;
}


#block{
    margin-right: 800px;
}


h1{font-size:  40px; ;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:white ;
    width: 500px;
    height: 75px;
    animation-name: h1;
    animation-duration: 2s;
    animation-fill-mode:backwards;
    color:rgb(71, 57, 57);
}
h2{
    font-size:  40px; ;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:white ;
    width: 500px;
    height: 75px;
    animation-name: h2;
    animation-duration: 2s;
    animation-fill-mode:backwards;
    color:rgb(71, 57, 57);
    display: flex;
}

div{
    display: inline-block;
}
#buyticket1{
    animation-name: buttonAnimation1;
    animation-duration: 2s;
    animation-fill-mode:backwards;
}
#buyticket2{
    animation-name: buttonAnimation2;
    animation-duration: 2s;
    animation-fill-mode:backwards;
}
#buyticket3{
    animation-name: buttonAnimation3;
    animation-duration: 2s;
    animation-fill-mode:backwards;
}

  
p{ font-size:  40px; ;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:white ;
    width: 500px;
    height: 75px;
    animation-name: p;
    animation-duration: 2s;
    animation-fill-mode:backwards;
    color:rgb(71, 57, 57); 
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(198, 103, 103);
    font-weight: bold;
    width: 200px;
    margin-bottom: 15px;
    border-radius: 15px;

}

@keyframes h1 {
    from {background-color:white;}
    to {background-color:darkgreen;}
  }
 @keyframes buttonAnimation1 {
    from {
        content: "Tunis-Sfax";
        background-color: white;
    }
    to {
        content: "New Display Text 1";
        background-color:darkred;
    }
}
@keyframes buttonAnimation2 {
    from {
        content: "Tunis-Gabes";
        background-color: white;
    }
    to {
        content: "New Display Text 2";
        background-color: darkblue;
    }
}
@keyframes buttonAnimation3 {
    from {
        content: "Tunis-Tataouine";
        background-color: white;
    }
    to {
        content: "New Display Text 3";
        background-color: darkorange;
    }
}
@keyframes h2Animation {
    from {
        background-color: white;
    }
    to {
        background-color: rgb(122, 141, 36);
    }
}


