body {
    background-image: url("https://media.architecturaldigest.com/photos/5890b11d33bd1de9129ea9b2/16:9/w_2560%2Cc_limit/a380-A380-flying.jpg");
    background-size: cover;
    font-family:  'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    display:inline-block;
    flex-direction: column;
    justify-content: center;

}



#imgContainer {
    margin-left: 20px; 
}

#block {
    margin-right: 20px; 
}

h1{font-size:  40px; ;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:white;
    width: 500px;
    height: 75px;
    animation-name: h1;
    animation-duration: 2s;
    animation-fill-mode:backwards;
    color:rgb(71, 57, 57);
}
h2{
    font-size:  40px; ;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:white ;
    width: 500px;
    height: 75px;
    animation-name: h2;
    animation-duration: 2s;
    animation-fill-mode:backwards;
    color:rgb(71, 57, 57);
    display: flex;
}

div{
    display: inline-block;
}

#buyTickeBtn0{
    background-color: darkgreen;
}

#buyTicketBtn1{
    background-color: darkred;
}
#buyTicketBtn2{
    background-color:darkblue;
}
#buyTicketBtn3{
    background-color: darkorange;
}
#price{
    background-color: darkslategray;
}
#show{
    background-color:darkolivegreen;
}

#buyticket1{
    animation-name: buttonAnimation1;
    animation-duration: 2s;
    animation-fill-mode:backwards;
}
#buyticket2{
    animation-name: buttonAnimation2;
    animation-duration: 2s;
    animation-fill-mode:backwards;
}
#buyticket3{
    animation-name: buttonAnimation3;
    animation-duration: 2s;
    animation-fill-mode:backwards;
}

  
p{ font-size:  40px; ;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:white ;
    width: 500px;
    height: 75px;
    animation-name: p;
    animation-duration: 2s;
    animation-fill-mode:backwards;
    color:rgb(71, 57, 57); 
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
    font-weight: bold;
    width: 200px;
    margin-bottom: 15px;
    border-radius: 15px;

}

@keyframes h1 {
    from {background-color:white;}
    to {background-color:darkgreen;}
  }
 @keyframes buttonAnimation1 {
    from {
        content: "Tunis-Sfax";
        background-color: white;
    }
    to {
        content: "New Display Text 1";
        background-color:darkred;
    }
}
@keyframes buttonAnimation2 {
    from {
        content: "Tunis-Gabes";
        background-color: white;
    }
    to {
        content: "New Display Text 2";
        background-color: darkblue;
    }
}
@keyframes buttonAnimation3 {
    from {
        content: "Tunis-Tataouine";
        background-color: white;
    }
    to {
        content: "New Display Text 3";
        background-color: darkorange;
    }
}
@keyframes h2Animation {
    from {
        background-color: white;
    }
    to {
        background-color: rgb(122, 141, 36);
    }
}

#baha {
    display: flex;
}
#img1{
    align-items: right;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 2px solid #4caf50;
    display: none;
    transition: opacity 0.8s ease;

}
#img2{
    align-items: right;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 2px solid #4caf50;
    display: none;
    transition: opacity 0.8s ease;

}
#img3{
    align-items: right;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 2px solid #4caf50;
    display: none;
    transition: opacity 0.8s ease;
}
#img4{
    align-items: right;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 2px solid #4caf50;
    display: none;
    transition: opacity 0.8s ease;
}
#confirm{
    background-color: #4caf50;
    color: whitesmoke;
}

